<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675865838482-qimlt3onlldr07m2htm97qpc0hopbjhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675865838482-qimlt3onlldr07m2htm97qpc0hopbjhl</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-ijJjj_wI1Qvvw0fI6roscZY9nWFncI</string>
	<key>GCM_SENDER_ID</key>
	<string>675865838482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AshimaT.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-499c7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-499c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675865838482:ios:4fbd7d91ecaa5977c0b74b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-499c7-default-rtdb.firebaseio.com</string>
</dict>
</plist>